<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555956113257-5n59s4dft5jv9ulc767j2scdhfgrem00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555956113257-5n59s4dft5jv9ulc767j2scdhfgrem00</string>
	<key>API_KEY</key>
	<string>AIzaSyAP9On9U95y6XajQ_Kb7qqvv1i-1IGF2s4</string>
	<key>GCM_SENDER_ID</key>
	<string>555956113257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spark-tv-shows</string>
	<key>PROJECT_ID</key>
	<string>sparktvshowreminder</string>
	<key>STORAGE_BUCKET</key>
	<string>sparktvshowreminder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555956113257:ios:a7513d10b51c47bf3977f8</string>
	<key>DATABASE_URL</key>
	<string>https://sparktvshowreminder-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>